<div>
	<h1>No pos WAUF</h1>
	<h3>Bienvenido(a): <%= current_teacher.name %></h3>
</div>
<div class="col-md-12">
	<div class="col-md-7">
		<div class="panel panel-success">
			<div class="panel-heading">
				<b>Datos Básicos</b>
			</div>
			<div class="panel-body">
				<table>
					<thead></thead>
					<tbody>
						<tr>
							<td><b>NOMBRES:</b></td>
							<td class="basic-left-margin"><%= current_teacher.first_name %></td>
						</tr>
						<tr>
							<td><b>APELLIDOS:</b></td>
							<td class="basic-left-margin"><%= current_teacher.last_name %></td>
						</tr>
						<tr>
							<td><b>USERNAME:</b></td>
							<td class="basic-left-margin"><%= current_teacher.username %></td>
						</tr>
						<tr>
							<td><b>TELÉFONO:</b></td>
							<td class="basic-left-margin"><%= current_teacher.phone %></td>
						</tr>
						<tr>
							<td><b># HRS PASADAS:</b></td>
							<td class="basic-left-margin"><%= current_teacher.past_hours %></td>
						</tr>
						<tr>
							<td><b>FACULTAD:</b></td>
							<td class="basic-left-margin"><%= current_teacher.faculties.first.name %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-5"></div>
</div>



<div class="col-md-12">
	<div class="col-md-7">
		<div class="panel panel-info">

			<div class="panel-heading">
				<b> Registro de Cursos y de Horas </b>
			</div>

			<div class="panel-body">
  			<%= form_tag pick_courses_schedules_path do %>
					<div class="col-md-12">
						<div class="col-md-6">
							<%= select_tag 'Select EAP', options_from_collection_for_select(@eap, "id", "name", selected: ''), include_blank: '- Select Location -', id:'faculty-type-select', class:"form-control", onchange:"javascript:set_courses()" %>
						</div>
						<div id="list-courses" class="col-md-6">
							<%= render 'listing_courses', courses: @courses %>
						</div>
					</div>
					<div class="col-md-12 info-margin">
						Modo de Trabajo:
						<%= select_tag :mode_type_select, options_for_select(class_enum_for_select("Teacher","type_schedule")), include_blank: '- Select Mode -', class:"form-control" %>
					</div>
					<div class="col-md-12 info-margin">
  					<%= submit_tag 'Save', class:"btn btn-primary pull-right" %>
					</div>
  			<% end %>
			</div>



		</div>
	</div>
	<div class="col-md-5"></div>
</div>




<div>
	<%= link_to 'Go to Calendar', calendar_schedules_path, class:"btn btn-primary" %>
</div>
<br>
<div>
	<% if teacher_signed_in? %>
	  <%= link_to 'Logout', destroy_teacher_session_path, method: :delete, class:"btn btn-danger" %>        
	<% end %>
</div>