<h1><%= current_teacher.name %> <small>- Datos Generales</small></h1>
<div>
	<% if teacher_signed_in? %>
	  <%= link_to 'Logout', destroy_teacher_session_path, method: :delete, class:"btn btn-danger pull-right
	  " %>        
	<% end %>
</div>
<div class="col-md-7">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<b>Datos Básicos</b>
		</div>
		<div class="panel-body">
			<table>
				<thead></thead>
				<tbody>
					<tr>
						<td class="margin-td-view"><b>NOMBRES:</b></td>
						<td class="basic-left-margin"><%= current_teacher.first_name %></td>
					</tr>
					<tr>
						<td class="margin-td-view"><b>APELLIDOS:</b></td>
						<td class="basic-left-margin"><%= current_teacher.last_name %></td>
					</tr>
					<tr>
						<td class="margin-td-view"><b>CÓDIGO:</b></td>
						<td class="basic-left-margin"><%= current_teacher.username %></td>
					</tr>
					<tr>
						<td class="margin-td-view"><b>TELÉFONO:</b></td>
						<td class="basic-left-margin"><%= current_teacher.phone %></td>
					</tr>
					<tr>
						<td class="margin-td-view"><b># HRS PASADAS:</b></td>
						<td class="basic-left-margin past-hours"><b><%= current_teacher.past_hours %></b></td>
					</tr>
					<tr>
						<td class="margin-td-view"><b># HRS ACTUALES:</b></td>
						<td class="basic-left-margin current-hours"><b><%= current_teacher.current_hours %></b></td>
					</tr>
					<tr>
						<td class="margin-td-view"><b>CATEGORÍA:</b></td>
						<td class="basic-left-margin"><%= t (current_teacher.type_schedule) %></td>
					</tr>
					<tr>
						<td class="margin-td-view"><b>FACULTAD:</b></td>
						<td class="basic-left-margin"><%= current_teacher.faculties.first.name %></td>
					</tr>
					<tr>
						<td class="margin-td-view"><b>CURSOS REGISTRADOS:</b></td>
						<td class="basic-left-margin">
							<% current_teacher.courses.each do |course| %>
								<%= course.name %><br>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="col-md-5"></div>
<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<b>Horario Registrado</b>
		</div>
	  <div class="panel-body">
			<table class="table table-bordered">
				<thead></thead>
			  	<tr>
			  		<th class="centered">HOURS</th>
			      <% Availability.days.each_with_index do |(key, value), index| %>
			    		<th class="centered"><%= key %></th>
						<% end %>
			  	</tr>
				<tbody>
					<% 14.times do |i| %>
						<tr>
							<td class="centered"><%= "#{i + 8}:00 - #{i + 9}:00" %></td>
							<% 7.times do |j| %>
								<td class="<%= 'green' if current_teacher.hour_selected?(j, i) %>">
								</td>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
	  </div>
	</div>
</div>